/* src/index.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.App {
  text-align: center;
  margin-top: 20px;
}

.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.album-cover {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
